html
{
    scroll-behavior: smooth;
}

/* header*/


.header{
    width: 100%;
    height: 500px;
}

.tlo
{
    background-size: 100%;
    background-image: url(images/header-tlo2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}


.menu-nakladka {
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    width: 0;
}

.menu-nakladka .nakladka-zamykanie {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.przycisk
{
    position: absolute;
    top: 50px;
    right: 45px;
}

.logowanie
{
    position: absolute;
    top: 50px;
    right: 100px; 
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.logowanie:hover
{
    color: white;
    text-decoration: none;
}

.menu-nakladka a {
    padding: 0px;
    text-decoration: none;
    font-size: 22px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.menu {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.nakladka-otwieranie {
    top: 8px;
    position: relative;
    left: 0px;
}
